* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  text-align: center;
}

body {
  background-color: #f5f5f7;
  width: 100vw;
  min-height: 100vh;
  padding: 16px 8px 16px 8px;
}

.card-grid {
  display: grid;
}

.card {
  background: white;
  display: block;
  width: 320px;
  height: 497px;
  padding: 16px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  margin: 152px 560px 151px 560px;
}

.card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 25px;
  position: relative;
}

.card-title {
  width: 254;
  height: 54;
  font-size: 21px;
  font-weight: 700;
  line-height: 129%;
  color: #1f314f;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 2.5%;
}

.card-desc {
  font-size: 15px;
  color: #7d889e;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 1%;
  font-style: Medium;

  margin: 16px;
  margin-bottom: 41px;
}
